#set($layout = '')

<div id="formwrap_change_password" class="form-edit login_page">
	<form id="form_user_change_password" name="form_change_password" method="post" class="form-inline form-edit form_validation_reg" action="#springUrl('/changePassword.htm')">
		<div class="row-fluid form-row">
		  <div class="span2 form-col-label">
			  <label class="control-label" style="padding-top: 5px;" for="currentPassword">当前密码:</label>
		  </div>
		  <div class="span6 form-col-control">
			<input id="currentPassword" name="currentPassword" type="password"  value="" class="form-control input-medium " maxlength="16" placeholder="当前密码" required/>
		  </div>
		</div>
		<div class="row-fluid form-row">
		  <div class="span2 form-col-label">
			  <label class="control-label" style="padding-top: 5px;" for="newPassword">新密码:</label>
		  </div>
		  <div class="span7 form-col-control">
			<input id="newPassword" name="newPassword" type="password"  value="" class="form-control input-medium " maxlength="16" placeholder="新密码" required/>
			<p class="attentionLis">※必须是6个文字以上16个文字以下的半角文字<br>※不可以有连续4个相同的文字，区分大小写</p>
		  </div>
		</div>
		<div class="row-fluid form-row">
		  <div class="span2 form-col-label">
			  <label class="control-label" style="padding-top: 5px;" for="reNewPassword">确认新密码:</label>
		  </div>
		  <div class="span7 form-col-control">
			<input id="reNewPassword" name="reNewPassword" type="password"  value="" class="form-control input-medium " maxlength="16" placeholder="确认新密码"/>
		  </div>
		</div>
		<div class="row-fluid form-row btm_b" style="text-align:center;width: 92%;">
		  <div class="form-col-label" style="margin:auto">
			  <button id="change_password_btn" class="btn" type="button" onclick="jQuery('#form_user_change_password').submit();">确定</button>
		  </div>
		</div>				
	</form>
</div>
<script type="text/javascript" >
    jQuery.validator.addMethod("halfword", function(value, element, params){
            	for (var i=0;i < value.toString().length;i ++)
            	{
    				c = value.charCodeAt(i);
            		if (c < 32 || c > 127) { 
					
                            return false;  
                    }
            	}
            	
            	return true;
    });
    jQuery.validator.addMethod("alNum", function(value, element, params){
    		for (var i=0;i < value.toString().length;i ++)
    		{
    			var reg = new RegExp("([" + value.charAt(i) + "]){4,}", "i");
    			 if (reg.test(value))
    			 {
    			 	 return false;
    			 }
    		} 
    			  return true;
    });
    jQuery.validator.addMethod("charLength2", function(value, element, params){
    	var ret = 0;            

		if (/[0-9]/.test(value)) ret++; //数字            
		
		if (/[a-z]/.test(value)) ret++; //小写            
		
		if (/[A-Z]/.test(value)) ret++; //大写
		
		if (/[^0-9a-zA-Z]/.test(value)) ret++; //以上以外
		
		//if (/\W/.test(value)) ret++; //特殊字符    
		
    	if (ret < 2){
    		return false;
    	}
    	
    	 return true;
    });
	jQuery(document).ready(function() {
            	$("#reNewPassword").bind('keyup',function(event) {
                	var keynum = (event.which) ? event.which : event.keyCode;
            		if(keynum == 13){
            			jQuery('#form_user_change_password').submit();
            		}
            	});

                $('#reNewPassword').bind('copy paste', function (e) {
                    e.preventDefault();
                });	
				
				//* validation
				jQuery('#form_user_change_password').validate({
					onkeyup: false,
					errorClass: 'error',
					validClass: 'valid',
					errorElement:"p",
					rules: {
							currentPassword:{
											required: true,	
							                remote:{
										        url: "#springUrl('/checkPassword.htm')",
										        type: "post",
										        dataType: "json",
										        data: {
										          message: function() {
										            	return $("#currentPassword").val();
										          }
										        }
									      }
							},
							newPassword: {
											required: true,
											halfword: true,
											minlength: 6,
											maxlength: 16,
											alNum:true,
											charLength2:true
							},
							reNewPassword: {
											equalTo: "#newPassword"
							}
					},
					messages:{
									currentPassword:{
										required: '请输入当前密码',
										remote:'密码错误'
									},
									newPassword: {
													required: '请输入新密码',
													halfword: '必须是6个文字以上16个文字以下半角文字',
													minlength: '必须是6个文字以上16个文字以下半角文字',
				         							maxlength: '必须是6个文字以上16个文字以下半角文字',
													alNum:'不可以有连续4个相同的文字',
													charLength2:'必须使用2种以上的文字符号'													
									},
									reNewPassword: {
													equalTo: '和新密码不一致'
									}
						},
								submitHandler: function() {
												jQuery.post("#springUrl('/changePassword.htm')",$('#form_user_change_password').serializeArray(),function(resp){
															var btn=$("#change_password_btn");
															btn.tooltip({title:"修改成功"});
															btn.tooltip('show');
															setTimeout(function(){
																		formalMadal.close();
															},1500);
												}).fail(function(){
															var btn=$("#change_password_btn");
															btn.tooltip({title:"修改失败，请稍后再试"});
															btn.tooltip('show');
												});
								}
				});
		
	});
</script>