html { overflow-x: hidden; }
body { background-color: #ebedf0; font-family:  Arial, Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma; font-size: 12px; line-height: 20px; color: #000000; margin: 0px 0px; min-width: 296px; -webkit-text-size-adjust: none; }
img { vertical-align: top; border: 0; }
div, h1 { word-break: break-all; }
div, h1, p, ul, li, label, textarea, input, button, form { margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
input, textarea { border: 0; }
ul { list-style: none; }
.left { float: left; }
.right { float: right; }
.mar1 {
margin-top: 1px;
}
.mar2 {
margin-top: 2px;
}
.mar3 {
margin-top: 3px;
}
.mar4 {
margin-top: 4px;
}
.mar5 {
margin-top: 5px;
}
.mar6 {
margin-top: 6px;
}
.mar7 {
margin-top: 7px;
}
.mar8 {
margin-top: 8px;
}
.mar9 {
margin-top: 9px;
}
.mar10 {
margin-top: 10px;
}
.mar11 {
margin-top: 11px;
}
.mar12 {
margin-top: 12px;
}
.mar13 {
margin-top: 13px;
}
.mar14 {
margin-top: 14px;
}
.mar15 {
margin-top: 15px;
}
.mar16 {
margin-top: 16px;
}
.mar20 {
margin-top: 20px;
}
.mar23 {
margin-top: 23px;
}
.mar30 {
margin-top: 30px;
}
.mar40 {
margin-top: 40px;
}
.mar45 {
margin-top: 45px;
}
.mar47 {
margin-top: 47px;
}
.mar48 {
margin-top: 48px;
}
.mar50 {
margin-top: 50px;
}
.mar60 {
margin-top: 60px;
}

.clear { clear: both; height: 0; font-size: 0; line-height: 0; overflow: hidden; }
.gray, .gray:link, .gray:hover, .gray:visited { color: #999999; text-decoration: none; }
    .gray:active { color: #2da9bf; text-decoration: none; }
.blue, .blue:link, .blue:hover, .blue:visited { color: #2da9bf; text-decoration: none; }
    .blue:active { color: #1d6c7a; text-decoration: none; }
.button_1 { font-size: 18px; color: #ffffff; line-height: 20px; text-align: center; border: 1px solid #666666; background-color: #ff6600; padding: 10px 0; }
    .button_1:active { background-color: #d55500; }
.button_1_disabled { font-size: 18px; color: #eeeeee; line-height: 20px; text-align: center; border: 1px solid #666666; background-color: #ff6600; padding: 10px 0; }
.button_2 { font-size: 16px; color: #000000; line-height: 20px; text-align: center; border: 1px solid #666666; background-color: #dddddd; padding: 10px 0; }
    .button_2:active { background-color: #b4b4b4; }
.button_3 { 
font-size: 20px; color: #ffffff; line-height: 20px; text-align: center; border: 1px solid #666666; background-color: #267cc0; padding: 10px 0; 
	border: 1px solid #ccc; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}
.button_3:active { background-color: #e8e6e6; }


.button_8 { 
font-size: 20px; color: #ffffff; line-height: 20px; text-align: center; border: 1px solid #666666; background-color: #fa883c; padding: 10px 0; 
	border: 1px solid #ccc; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	margin-top: 10px;
}
.button_8:active { background-color: #e8e6e6; }


.button_4 { 
font-size: 20px; color: #5a5a5a; line-height: 20px; text-align: center; border: 1px solid #666666; background-color: #cacaca; padding: 10px 0; 
	border: 1px solid #ccc; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}
.button_4:active { background-color: #e8e6e6; }
		
.button_5 { 
font-size: 20px; color: #ffffff; line-height: 20px; text-align: center; border: 1px solid #666666; background-color: #267cc0; padding: 10px 0; 
    margin-left:70px;
	margin-right:70px;
	border: 1px solid #ccc; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}
.button_5:active { background-color: #e8e6e6; }



.button_6 { font-size: 16px; color: #ffffff; line-height: 20px; text-align: center; border: 1px solid #008ed8; background-color: #0096dc; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 10px 0; }
    .button_6:active { border: 1px solid #0b87c8; background-color: #0789cc; }
.button_7 { font-size: 16px; color: #ffffff; line-height: 20px; text-align: center; border: 1px solid #666666; background-color: #666666; padding: 10px 0; }
    .button_7:active { background-color: #454545; }
.button_7_disabled { font-size: 16px; color: #cccccc; line-height: 20px; text-align: center; border: 1px solid #666666; background-color: #999999; padding: 10px 0; }
.button_9 { font-size: 16px; color: #2da9bf; line-height: 20px; text-align: center; border: 1px solid #666666; background-color: #e6e6e6; padding: 10px 0; }
    .button_9:active { background-color: #cccccc; }
.input { font-size: 16px; color: #000000; line-height: 20px; padding: 10px 0; margin: -10px 0; }
.textarea { font-size: 16px; color: #000000; line-height: 28px; }
.form_input { border: 1px solid #cccccc; background-color: #ffffff; padding: 10px 3px; }
.form_textarea { border: 1px solid #cccccc; background-color: #ffffff; padding: 3px; }
    .form_input input, .form_textarea textarea, .form_button button { width: 100%; }
.form_placeholder { font-size: 14px; color: #888888; padding-bottom: 5px; }
.form_checkbox { border: 1px solid #cccccc; background-color: #ffffff; padding: 7px 5px 7px 10px; }
    .form_checkbox:active { background-color: #dddddd; }
.form_checkbox_text { float: left; font-size: 14px; color: #000000; line-height: 26px; }
.form_checkbox_check { float: right; }
    .form_checkbox_check img { width: 26px; height: 26px; }
.form_map { border: 1px solid #cccccc; background-color: #ffffff; padding: 10px; }
    .form_map:active { background-color: #dddddd; }
.form_map_flag { float: left; margin: 1px 5px 0 -5px; height: 16px; overflow: hidden; }
    .form_map_flag img { width: 13px; height: 16px; }
.form_map_address { float: left; width: 240px; overflow: hidden; font-size: 14px; color: #999999; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap; }
.form_map_arrow { float: right; margin-top: 1px; height: 18px; overflow: hidden;; }
    .form_map_arrow img { width: 12px; height: 18px; }
.form_richtext { position: relative; background-color: #ffffff; }
.placeholder { width: 288px; height: 20px; overflow: hidden; padding: 4px; font-size: 16px; line-height: 28px; color: #888888; }
.richtext { margin-top: -28px; padding: 3px; height: auto; border: 1px solid #cccccc; font-size: 16px; color: #000000; line-height: 28px; }
.richtext_bar { display: none; padding: 10px; border: 1px solid #cccccc; border-top: 0; background-color: #dddddd; overflow: hidden; }
    .richtext_bar img { width: 30px; height: 30px; }
.richtext_bar_emo_button { float: left; margin: 0 20px 0 10px; }
.richtext_bar_pic_button { position: relative; float: left; width: 30px; height: 30px; overflow: hidden; }
.richtext_bar_emo_button_icon, .richtext_bar_emo_button_icon_active { width: 30px; height: 30px; overflow: hidden; }
.richtext_bar_emo_button_icon { position: relative; float: left; margin-top: -30px; background-color: #dddddd; }
    .richtext_bar_emo_button_icon:active { filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }
.richtext_bar_emo { display: none; padding: 8px; border: 1px solid #cccccc; border-top: 0; background-color: #eeeeee; overflow: hidden; }
.richtext_bar_pic_upfile { position: absolute; right: 0; bottom: 0; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }
    .richtext_bar_pic_upfile input { height: 30px; }
/*瀛椾綋*/
.toast { font-size: 16px; color: #ffffff; line-height: 20px; text-align: center; }
.alert { font-size: 16px; color: #000000; line-height: 20px; text-align: center; }
.alert_cancel, .dt_pay_guide_cancel { font-size: 14px; color: #666666; text-align: right; }
    .alert_cancel:active, .dt_pay_guide_cancel:active { color: #2da9bf; }
.loading_center { font-size: 14px; color: #000000; text-align: center; }
.loading_bottom { font-size: 14px; color: #666666; text-align: center; }
.login_title { font-size: 16px; color: #000000; }
.login_more { font-size: 14px; text-align: right; }
.sucess { font-size: 14px; color: #000000; text-align: center; }
.error { color: #999999; }
.topbar_title { font-size: 24px; color: #ffffff; line-height: 20px; text-align: center; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap; font-family: "Microsoft Yahei"; }
.topbar_back { font-size: 16px; color: #ffffff; line-height: 21px; }
.topbar_menu { font-size: 16px; color: #ffffff; line-height: 25px; }
.topbar_menu a {
	color:#FFF;
	text-decoration: none;
	font-size: 18px;
	font-family: "Microsoft Yahei";
}
.topbar_close { font-size: 16px; color: #ffffff; line-height: 25px; }
.topbar_close a {
	color: #ffffff;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding-right: 10px;
	font-size: 16px;
}

A.b:link {
	COLOR: #ffffff; TEXT-DECORATION: none; font-size:16px;
}
A.b:visited {
	COLOR: #ffffff; TEXT-DECORATION: none;font-size:16px;
}

A.b:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline; font-size:16px;
}



.dt_sucess_main { font-size: 14px; color: #000000; text-align: center; }
.dt_sucess_note { font-size: 14px; color: #000000; line-height: 22px; text-align: center; }
.dt_nick, .dt_nick:link, .dt_nick:hover, .dt_nick:visited { color: #2da9bf; text-decoration: none; }
    .dt_nick:active { color: #1d6c7a; text-decoration: none; }
.dt_invite_title { font-size: 16px; color: #000000; }
.dt_title { font-weight: normal; font-size: 20px; line-height: 25px; color: #000000; }
.dt_tip { font-size: 14px; color: #666666; }
.dt_support, .dt_support:link, .dt_support:hover, .dt_support:visited { color: #2da9bf; text-decoration: none; }
    .dt_support:active { color: #1d6c7a; text-decoration: none; }
.dt_content { font-size: 16px; line-height: 28px; color: #000000; }
.dt_map_address { font-size: 14px; color: #2da9bf; }
.dt_pay_title { font-size: 14px; color: #666666; }
.dt_pay_info_title { font-size: 14px; color: #000000; }
.dt_pay_info_price { font-size: 14px; color: #666666; }
.dt_report { font-size: 14px; }
.dt_like { font-size: 14px; color: #999999; }
    .dt_like a:link, .dt_like a:hover, .dt_like a:visited { color: #2da9bf; text-decoration: none; }
    .dt_like a:active { color: #1d6c7a; text-decoration: none; }
.dt_like_list { font-size: 12px; color: #1d6c7a; line-height: 20px; }
.dt_contact_title { font-size: 14px; color: #666666; }
.dt_contact_content { font-size: 14px; line-height: 25px; color: #000000; }
.dt_list_title { font-size: 14px; color: #666666; }
.dt_list_title_manage { font-size: 12px; text-align: center; }
.dt_list_item_nick { font-size: 14px; color: #000000; }
.dt_list_item_date { font-size: 12px; color: #999999; }
.dt_list_error { font-size: 14px; color: #666666; text-align: center; }
.dt_list_more { font-size: 14px; color: #000000; text-align: right; }
.dt_list_loading { font-size: 14px; color: #666666; text-align: center; }
.dt_list_item_vote_text { font-size: 14px; color: #000000; line-height: 20px; }
.dt_list_item_vote_count { font-size: 12px; color: #666666; }
.dt_vote_result { font-size: 16px; line-height: 28px; color: #000000; }
.dt_join_tip { font-size: 14px; color: #999999; text-align: right; }
.dt_hot_title { font-size: 14px; color: #000000; }
.dt_hot_more { font-size: 14px; }
.hot_error { font-size: 14px; color: #666666; text-align: center; }
.hot_item_title { line-height: 25px; color: #000000; }
#hot_main .hot_item_title { font-size: 16px; }
#dt_hot_main .hot_item_title { font-size: 14px; }
.hot_item_count { font-size: 12px; line-height: 25px; color: #666666; }
.dt_review_menu { font-size: 16px; color: #666666; text-align: right; }
.dt_review_menu_active { font-size: 16px; color: #1e7382; text-align: right; }
.dt_review_item_subinfo { font-size: 12px; color: #999999; }
.dt_review_item_content { font-size: 14px; line-height: 22px; color: #333333; }
.dt_review_error { font-size: 14px; color: #666666; text-align: center; }
.dt_answer_title { font-size: 16px; color: #666666; }
.dt_answer_error { font-size: 14px; color: #666666; text-align: center; }
.dt_answer_item_nick { font-size: 14px; }
.dt_answer_item_date { font-size: 12px; color: #999999; }
.dt_answer_item_content { font-size: 16px; line-height: 22px; color: #333333; }
.dt_answer_selected_flag { font-size: 16px; color: #ffffff; text-align: center; }
.dt_pay_guide_title_text { font-size: 16px; color: #000000; line-height: 35px; }
.dt_pay_guide_note { font-size: 12px; color: #666666; line-height: 22px; }
.share_qr_title { font-size: 16px; color: #000000; text-align: center; }
.share_qr_note { font-size: 14px; color: #666666; }
.select_area_text { font-size: 16px; color: #000000; }
.post_note { font-size: 12px; color: #333333; line-height: 20px; }
.post_form_more_text { font-size: 14px; color: #000000; }
.post_form_join_items_text { font-size: 14px; color: #000000; }
.join_item_static, .join_item_yes, .join_item_no { font-size: 12px; text-align: center; }
.join_item_static { color: #2da9bf; }
.join_item_yes { color: #2da9bf; }
.join_item_no { color: #999999; }
.post_menu_title { font-size: 16px; color: #2da9bf; line-height: 25px; }
.post_menu_note { font-size: 16px; color: #333333; line-height: 25px; }
.post_pic { display: block; margin: 8px auto; }
.dt_content_pic { display: none; padding: 8px 0; text-align: center; }
.dt_emo { width: 24px; height: 24px; }
.powered { font-size: 16px; color: #000000; line-height: 25px; text-align: center; }
/*甯冨眬*/
#topbar {  left: 0; top: 0; width: 100%; height: 60px; background-color: #000000;  z-index: 500; }
#topbar2 { left: 0; top: 0; width: 100%; height: 156px; background: url(../images/mytopbg.jpg) repeat-x; background-position:center;   z-index: 500; }
#topbar3 {  left: 0; top: 0; width: 100%; height: 60px; background-color: #0e6eb9;  z-index: 500; }
#topbar_title5 { overflow: hidden; margin: 0 auto; width: 200px; padding: 18px 0; overflow: hidden; }
#topbar_title { overflow: hidden; margin: 0 auto; width: 120px; padding: 18px 0; overflow: hidden; }
#topbar_title2 { overflow: hidden;  width: 100%;  height:47px; overflow: hidden;}
    #topbar_title2 img {
    height:20px;
    }


#topbar_back { display: none; position: absolute; left: 0; top: 0; width: 55px; height: 33px; overflow: hidden; padding-top: 13px; background-color: #3fbbd1; text-align: center; }
    #topbar_back:active { background-color: #2ca2b6; z-index: 600; }
    #topbar_back img { width: 14px; height: 21px; }

    #topbar_back2 { font-size:17px; position: absolute; color:#fff;  left: 0; top: 0; width: 66px; height: 33px; overflow: hidden; padding-top: 13px; background-color: #3fbbd1; text-align: center; }
    #topbar_back2:active { background-color: #2ca2b6; z-index: 600; }
    #topbar_back2 img { width: 14px; height: 21px; }
	
	
#topbar_close { position: absolute; right: 0; top: 7px;  overflow: hidden; padding-top: 11px;  }	
#topbar_menu { position: absolute; left: 0; top: 7px; width: 65px; height: 35px; overflow: hidden; padding-top: 11px;  text-align: center; }
    #topbar_menu:active { z-index: 700; }
    #topbar_menu img { width: 19px; height: 19px; }
#dt_post_sucess { display: none; margin: -15px -12px 15px -12px; padding: 18px 0; border-bottom: 1px solid #cccccc; background-color: #f7f7f7; }
#dt_post_sucess_button { width: 320px; margin: auto; }
    #dt_post_sucess_button div { width: 140px; padding: 0 10px; }
    #dt_post_sucess_button button { width: 100%; padding: 6px 0; font-size: 16px; }
#dt_invite_form { margin-top: 15px; }
    #dt_invite_form .form_input { margin-bottom: 15px; }
#dt_subinfo { margin-top: 10px; }
#dt_pic { display: none; margin-top: 12px; overflow: hidden; text-align: center; }
#dt_content { margin-top: 15px; overflow: hidden; border: 1px solid #cccccc; background-color: #ffffff; padding: 10px; }
#dt_map_guide { margin-top: -1px; border: 1px solid #cccccc; border-top: 0; background-color: #f7f7f7; padding: 12px 8px 10px 8px; }
    #dt_map_guide:active { background-color: #eeeeee; }
#dt_map_flag { float: left; width: 18px; }
    #dt_map_flag img { margin-top: 1px; width: 13px; height: 16px; }
#dt_map_arrow { float: right; margin-left: 5px; width: 12px; }
    #dt_map_arrow img { margin-top: 2px; width: 10px; height: 15px; }
#dt_map_address { height: 20px; overflow: hidden; }
#dt_pay_title { margin-top: 15px; }
#dt_pay_info { margin-top: 8px; border: 1px solid #cccccc; background-color: #ffffcc; padding: 10px; }
#dt_pay_info_title { float: left; margin-right: 8px; }
#dt_active { margin-top: 10px; }
#dt_like { display: none; margin-left: 15px; float: right; }
#dt_like_top { display: none; margin-top: 3px; height: 11px; line-height: 11px; overflow: hidden; text-align: right; }
    #dt_like_top img { position: relative; z-index: 101; margin-right: 8px; width: 24px; height: 12px; }
#dt_like_main { display: none; position: relative; z-index: 100; margin-top: -1px; }
#dt_like_list { border: 1px solid #cccccc; background-color: #f7f7f7; padding: 8px; }
    #dt_like_list img { margin-right: -5px; width: 15px; height: 20px; }
#dt_like_icon { position: absolute; left: 1px; top: -2px; width: 30px; height: 40px; overflow: hidden; transition: all 0.3s linear 0s; -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }
    #dt_like_icon img { width: 100%; height: 100%; }
#dt_contact_title { margin-top: 12px; }
#dt_contact_content { margin-top: 8px; overflow: hidden; border: 1px solid #cccccc; background-color: #f7f7f7; padding: 8px; }
#dt_list_title { margin-top: 12px; }
#dt_list_title_manage { display: none; float: right; width: 100px; border: 1px solid #cccccc; background-color: #dddddd; }
    #dt_list_title_manage:active { background-color: #b4b4b4; }
#dt_list_main { margin-top: 8px; border: 1px solid #cccccc; border-bottom: 0; background-color: #f7f7f7; }
.dt_list_item { overflow: hidden; padding: 8px; border-bottom: 1px solid #cccccc; }
    .dt_list_item:active { background-color: #eeeeee; }
    .dt_list_item .dt_list_item_nick { float: left; }
    .dt_list_item .dt_list_item_date { float: right; }
.dt_list_item_vote_button { float: right; margin-left: 5px; }
    .dt_list_item_vote_button img { width: 20px; height: 20px; }
.dt_list_item .dt_list_item_vote_count { float: right; margin-left: 5px; }
.dt_list_item_vote_scale { float: left; margin-top: 6px; height: 10px; overflow: hidden; transition: width 0.6s ease-in 0s; -webkit-transition: width 0.6s ease-in 0s; -moz-transition: width 0.6s ease-in 0s; -o-transition: width 0.6s ease-in 0s; }
.vote_scale_yes { background-color: #2fb0c8; }
.vote_scale_no { background-color: #dfdfdf; }
.dt_list_item_vote_result { margin-left: 26px; }
.dt_list_item_vote_selected { position: relative; left: -26px; bottom: 20px; margin-bottom: -15px; width: 26px; height: 15px; line-height: 15px; overflow: hidden; }
    .dt_list_item_vote_selected img { width: 20px; height: 15px; }
#dt_list_loading { display: none; }
    #dt_list_loading img { width: 20px; height: 20px; }
#dt_vote_result { margin-top: 18px; border: 1px solid #cccccc; background-color: #ffffcc; padding: 10px; }
#dt_join_tip { margin-top: 15px; }
#dt_join_form { display: none; margin: 10px -6px 0 -6px; overflow: hidden; padding: 8px 6px; border: 1px solid #cccccc; background-color: #ffffcc; transition: height 0.3s linear 0s; -webkit-transition: height 0.3s linear 0s; -moz-transition: height 0.3s linear 0s; -o-transition: height 0.3s linear 0s; }
    #dt_join_form .form_input { margin-bottom: 8px; }
    #dt_join_form .form_textarea { margin-bottom: 8px; }
    #dt_join_form .textarea { height: 50px; }
#dt_button_join { margin-top: 15px; }
    #dt_button_join button { width: 100%; }
.dt_button_share { margin-top: 15px; }
    .dt_button_share button { width: 100%; }
    .dt_button_share div { width: 49%; }
    .dt_button_share img { width: 20px; height: 20px; }
#dt_share_weixin, #dt_share_qq, #dt_share_friend, #dt_share_qr { display: none; }
#dt_button_post { display: none; margin-top: 15px; }
    #dt_button_post button { width: 100%; }
#dt_hot { margin-top: 15px; }
#dt_hot_title { float: left; }
#dt_hot_more { float: right; }
#hot_main, #dt_hot_main { border: 1px solid #cccccc; border-bottom: 0; background-color: #f7f7f7; }
#dt_hot_main { margin-top: 10px; }
.hot_item { border-bottom: 1px solid #cccccc; }
    .hot_item:active { background-color: #eeeeee; }
#hot_main .hot_item { padding: 10px 8px; }
#dt_hot_main .hot_item { padding: 8px; }
.hot_item_icon { float: left; margin-right: 8px; }
    .hot_item_icon img { width: 25px; height: 25px; }
.hot_item .hot_item_title { overflow: hidden; height: 25px; }
.hot_item .hot_item_count { float: right; margin-left: 8px; }
#dt_review_menu, #dt_review_menu_active { overflow: hidden; }
#dt_review_menu { margin-top: -24px; position: relative; background-color: #eeeeee; }
    #dt_review_menu:active { filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }
#dt_review_menu_active { margin-top: 15px; }
    #dt_review_menu img, #dt_review_menu_active img { width: 26px; height: 26px; margin-top: -2px; }
#dt_review_main { margin-top: 15px; background-color: #ffffff; }
    #dt_review_main .dt_review_item { overflow: hidden; padding: 8px; border-bottom: 1px solid #cccccc; }
        #dt_review_main .dt_review_item:active { background-color: #dddddd; }
#dt_answer_title { margin-top: 15px; }
.dt_answer_item { margin-top: 15px; overflow: hidden; padding: 8px; border: 1px solid #cccccc; background-color: #ffffff; }
.dt_answer_selected { margin-top: 0; border: 1px solid #2fb0c8; }
.dt_answer_selected_top { margin-top: 15px; }
.dt_answer_selected_icon { float: left; margin-bottom: 4px; }
    .dt_answer_selected_icon img { width: 30px; height: 30px; }
.dt_answer_selected_top .dt_answer_selected_flag { float: right; width: 100px; padding: 7px 0; background-color: #2fb0c8; }
.dt_answer_item .dt_answer_item_nick { float: left; }
.dt_answer_item .dt_answer_item_date { float: right; }
.dt_answer_item .dt_answer_item_content { margin: 8px 0 12px 0; }
.dt_answer_item_review_button, .dt_answer_item_review_button_active { height: 26px; overflow: hidden; text-align: right; }
.dt_answer_item_review_button { background-color: #ffffff; position: relative; }
    .dt_answer_item_review_button img, .dt_answer_item_review_button_active img { width: 26px; height: 26px; }
    .dt_answer_item_review_button:active { filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }
.dt_answer_item_review_button_active { margin-bottom: -26px; }
.dt_answer_review { margin-top: 5px; }
    .dt_answer_review .dt_review_item { padding: 5px; background-color: #eeeeee; border-top: 1px solid #ffffff; }
        .dt_answer_review .dt_review_item:active { background-color: #dddddd; }
#loading_bottom { display: none; margin-top: 15px; }
    #loading_bottom img { width: 20px; height: 20px; }
#cover2 { display: none; position: absolute; left: 0; top: 0; background-color: #333333; filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; z-index: 1000; }
#dt_review_box { display: none; position: fixed; left: 0; bottom: 0; z-index: 2000; width: 100%; background-color: #dddddd; }
#dt_review_box_main { position: relative; margin: 8px; }
#dt_review_box_emo_button, #dt_review_box_emo_button_active { position: absolute; left: 0; top: 0; width: 34px; overflow: hidden; }
#dt_review_box_emo_button { background-color: #dddddd; }
    #dt_review_box_emo_button img, #dt_review_box_emo_button_active img { width: 30px; height: 30px; margin-top: 6px; }
    #dt_review_box_emo_button:active { filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }
#dt_review_box_input { margin: 0 68px 0 38px; border: 1px solid #cccccc; background-color: #ffffff; padding: 10px 3px; }
    #dt_review_box_input input { width: 100%; height: 20px; overflow: hidden; }
#dt_review_box_button { position: absolute; right: 0; top: 0; width: 68px; text-align: right; }
    #dt_review_box_button button { margin-top: 3px; width: 60px; height: 37px; overflow: hidden; font-size: 14px; padding: 5px 0; }
#dt_review_box_emo { display: none; padding-top: 8px; }
.emo { float: left; padding: 12px; }
    .emo:active { border: 1px solid #999999; padding: 11px; background-color: #ffffff; }
    .emo img { width: 24px; height: 24px; }
#share_weixin, #share_qq, #share_qr { display: none; position: fixed; z-index: 3000; }
#share_weixin, #share_qq { right: 10px; top: 2px; width: 260px; }
    #share_weixin img, #share_qq img { width: 260px; height: 165px; }
    #share_weixin button, #share_qq button { margin-top: 25px; width: 100%; }
#share_qr { width: 250px; border: 1px solid #000000; background-color: #ffffff; }
    #share_qr img { width: 50px; height: 50px; margin: 50px; }
    #share_qr button { width: 100%; padding: 6px 0; font-size: 14px; }
#share_qr_title { margin-bottom: 10px; padding: 8px; background-color: #eeeeee; }
#share_qr .share_qr_note { padding: 0 15px; }
#share_qr_qr { text-align: center; }
#share_qr_button { margin-top: 10px; padding: 10px; background-color: #eeeeee; }
#dt_pay_guide { display: none; position: fixed; width: 290px; padding: 15px; background-color: #ffffff; border: 1px solid #000000; z-index: 7000; }
#dt_pay_guide_title { height: 35px; overflow: hidden; }
#dt_pay_guide_title_icon { float: left; }
    #dt_pay_guide_title_icon img { width: 35px; height: 35px; }
#dt_pay_guide_title_text { float: left; margin-left: 5px; }
#dt_pay_guide_note { margin-top: 10px; }
#dt_pay_guide_button { margin-top: 15px; }
    #dt_pay_guide_button div { width: 50%; text-align: center; }
    #dt_pay_guide_button button { margin: 0 10px; width: 125px; padding: 6px 0; font-size: 14px; }
#dt_pay_guide_cancel { margin: 8px 0 -5px 0; }
#dt_pay_form { display: none; }
#dt_sucess { display: none; position: fixed; width: 280px; border: 1px solid #000000; z-index: 7000; }
#dt_sucess_main { padding: 15px; background-color: #ffffff; }
    #dt_sucess_main img { width: 60px; height: 49px; margin-bottom: 15px; }
#dt_sucess_button { padding: 10px; background-color: #eeeeee; }
.dt_sucess_button { margin-top: 15px; }
    .dt_sucess_button button { width: 100%; padding: 6px 0; font-size: 14px; }
.select_area { margin-bottom: 15px; padding: 15px 10px; background-color: #ffffff; border: 1px solid #cccccc; overflow: hidden; }
    .select_area:active { background-color: #dddddd; }
    .select_area .select_area_text { float: left; }
.select_area_arrow { float: right; margin-top: 1px; line-height: 18px; }
    .select_area_arrow img { width: 12px; height: 18px; }
#dt_join_bar { display: none; position: fixed; left: 0; bottom: 0; margin-bottom: -100px; width: 100%; overflow: hidden; background-color: #ffffff; border-top: 1px solid #cccccc; transition: margin-bottom 0.3s linear 0s; -webkit-transition: margin-bottom 0.3s linear 0s; -moz-transition: margin-bottom 0.3s linear 0s; -o-transition: margin-bottom 0.3s linear 0s; z-index: 900; }
    #dt_join_bar div { margin: 15px; }
    #dt_join_bar button { width: 100%; }
#post_form .form_input, #post_form .form_textarea, #post_form .form_richtext, #post_form .form_checkbox, .form_map, #post_form_more, #post_form_join_items { margin-bottom: 15px; }
#post_form .form_input_union { margin-top: -16px; }
#post_note { margin-bottom: 15px; padding: 8px; background-color: #c9eaf1; border: 1px solid #9ddde8; }
#post_form_more { display: none; border: 1px solid #cccccc; background-color: #ffffff; padding: 10px; }
    #post_form_more:active { background-color: #dddddd; }
#post_form_more_arrow { float: right; margin-top: 3px; height: 12px; overflow: hidden; }
    #post_form_more_arrow img { width: 18px; height: 12px; }
#post_form_more_detail { display: none; overflow: hidden; transition: height 0.3s linear 0s; -webkit-transition: height 0.3s linear 0s; -moz-transition: height 0.3s linear 0s; -o-transition: height 0.3s linear 0s; }
#post_form_join_items { border: 1px solid #cccccc; background-color: #ffffff; padding: 10px; }
.post_form_join_item { float: left; margin-top: 10px; width: 33%; }
    .post_form_join_item .join_item_static, .post_form_join_item .join_item_yes, .post_form_join_item .join_item_no { margin: 0 10px; padding: 5px 0; }
    .post_form_join_item .join_item_static { border: 1px solid #2da9bf; background-color: #c9eaf1; }
    .post_form_join_item .join_item_yes { border: 1px solid #2da9bf; background-color: #c9eaf1; }
    .post_form_join_item .join_item_no { border: 1px solid #cccccc; background-color: #eeeeee; }
        .post_form_join_item .join_item_yes:active, .post_form_join_item .join_item_no:active { background-color: #dddddd; }
#post_upload_iframe { display: none; }
#post_map { display: none; position: absolute; left: 0; top: 0; z-index: 2000; background-color: #eeeeee; }
#post_map_iframe { border: 0; }
#post_datepicker { display: none; position: fixed; left: 0; bottom: 0; margin-bottom: -200px; width: 100%; background-color: #ffffff; border-top: 1px solid #cccccc; border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; box-shadow: 0 -2px 8px #aaaaaa; -webkit-box-shadow: 0 -2px 8px #aaaaaa; -moz-box-shadow: 0 -2px 8px #aaaaaa; transition: margin-bottom 0.3s linear 0s; -webkit-transition: margin-bottom 0.3s linear 0s; -moz-transition: margin-bottom 0.3s linear 0s; -o-transition: margin-bottom 0.3s linear 0s; z-index: 6000; }
#post_datepicker_button { padding: 10px; background-color: #eeeeee; border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; overflow: hidden; }
.post_datepicker_button { float: right; margin-left: 12px; }
    .post_datepicker_button button { width: 80px; padding: 5px 0; font-size: 14px; }
#post_datepicker_main { margin: 15px auto; width: 310px; }
#post_datepicker_date { float: left; margin-right: 10px; width: 130px; }
#post_datepicker_hour { float: left; margin-right: 10px; width: 80px; }
#post_datepicker_minute { float: left; width: 80px; }
.post_datepicker_datearrow { height: 16px; line-height: 16px; overflow: hidden; text-align: center; filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; }
    .post_datepicker_datearrow:active { filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1; }
    .post_datepicker_datearrow img { width: 28px; height: 16px; }
.post_datepicker_datelist { height: 90px; overflow: hidden; }
#datepicker_date div, #datepicker_hour div, #datepicker_minute div { transition: margin-top 0.2s linear 0s; -webkit-transition: margin-top 0.2s linear 0s; -moz-transition: margin-top 0.2s linear 0s; -o-transition: margin-top 0.2s linear 0s; }
.datepicker_item { height: 30px; line-height: 30px; font-size: 18px; text-align: center; color: #999999; }
#post_menu { display: none; position: fixed; left: 0; bottom: 0; margin-bottom: -250px; width: 100%; padding-top: 5px; border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; background-color: #2fb0c8; box-shadow: 0 -2px 8px #aaaaaa; -webkit-box-shadow: 0 -2px 8px #aaaaaa; -moz-box-shadow: 0 -2px 8px #aaaaaa; transition: margin-bottom 0.3s linear 0s; -webkit-transition: margin-bottom 0.3s linear 0s; -moz-transition: margin-bottom 0.3s linear 0s; -o-transition: margin-bottom 0.3s linear 0s; z-index: 6000; }
#post_menu_main { padding: 12px; background-color: #ffffff; border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; }
#post_menu_title img { width: 21px; height: 25px; margin-right: 5px; }
#post_menu_note { margin-top: 10px; }
.post_menu_button { margin-top: 12px; }
    .post_menu_button button { width: 100%; }
#post_menu_button_logout, #post_menu_button_login { display: none; border-top: 1px solid #dddddd; padding-top: 12px; }
#toast { display: none; position: fixed; padding: 8px 15px; background-color: #333333; box-shadow: 0 0 5px #666666; z-index: 8000; }
#cover { display: none; position: absolute; left: 0; top: 0; background-color: #000000; filter: alpha(opacity=70); -moz-opacity: 0.7; opacity: 0.7; z-index: 9000; }
#login { display: none; position: fixed; width: 250px; padding: 15px; background-color: #ffffff; border: 1px solid #000000; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 10000; }
#login_button { margin: 30px 0; }
    #login_button button { width: 100%; }
#alert { display: none; position: fixed; width: 300px; border: 1px solid #000000; z-index: 10000; }
#alert_title { padding: 8px; background-color: #eeeeee; }
#alert_text { padding: 15px 10px; background-color: #ffffff; }
#alert_button { padding: 10px; background-color: #eeeeee; }
    #alert_button button { width: 100%; padding: 6px 0; font-size: 14px; }
#alert_cancel { display: none; margin-top: -4px; padding: 0 10px 6px 10px; background-color: #eeeeee; }
#loading_center { display: none; position: fixed; width: 60px; padding: 25px 35px; border: 1px solid #000000; background-color: #ffffff; z-index: 10000; }
    #loading_center img { width: 60px; height: 60px; margin-bottom: 15px; }
#sucess { display: none; position: fixed; width: 70px; padding: 25px 35px; border: 1px solid #000000; background-color: #ffffff; z-index: 10000; }
    #sucess img { width: 60px; height: 49px; margin-bottom: 15px; }

/*棣栭〉鏍峰紡*/
.post_sample_title { font-size: 14px; color: #666666; }
.post_link_title_import { font-size: 14px; color: #2da9bf; }
.post_sample_post { font-size: 12px; color: #2da9bf; }
.post_feedback { font-size: 14px; text-align: right; }
.post_title { font-size: 14px; color: #333333; text-align: center; }
    .post_title:active { color: #2da9bf; }
.post_item_title { font-size: 17px; line-height: 24px; color: #1f1f1d; font-family:"Arial Black", Gadget, sans-serif; background:url(../images/huipng.png) no-repeat 0% 50%; padding-left: 30px; }
.post_item_note { font-size: 16px; color: #666666; margin-top: 7px; font-family: Arial, Helvetica, sans-serif; margin-left: 34px;}
.post_link_title { font-size: 14px; color: #000000; }
#post_title { margin: -15px -12px 0 -12px; padding: 6px 12px; background-color: #ebedf0; }
    #post_title img { width: 20px; height: 20px; }
#post_sample { margin-top: 15px; height: 20px; overflow: hidden; padding: 10px; border: 1px solid #cccccc; background-color: #ffffff; }
    #post_sample:active { background-color: #dddddd; }
.post_item { margin-top: 2px; overflow: hidden; padding: 10px;  background-color: #ffffff; }
    .post_item:active { background-color: #dddddd; }
.post_item_icon { float: left; margin-right: 10px;}
    .post_item_icon img {}
.post_item_arrow { float: right; margin: 13px 0 0 8px; }
    .post_item_arrow img { width: 12px; height: 18px; }
.post_link { margin-top: 15px; height: 20px; overflow: hidden; padding: 10px; border: 1px solid #cccccc; background-color: #ffffff; }
    .post_link:active { background-color: #dddddd; }
    .post_link .post_link_title, .post_link .post_link_title_import { float: left; }
.post_link_arrow { float: right; margin: 1px 0 0 8px; }
    .post_link_arrow img { width: 12px; height: 18px; }
#post_link_download { display: none; }
#post_feedback { margin-top: 12px; }

/*鍙嶉椤甸潰*/
#feedback_form .form_button { margin-top: 15px; }
#feedback_form .textarea { height: 200px; }

/*鐑棬*/
.hot_mp { font-size: 14px; color: #999999; text-align: center; }
    .hot_mp:active { color: #2da9bf; }
#hot_mp { display: none; margin-bottom: 10px; }
    #hot_mp img { width: 20px; height: 20px; }
.hot_mpdd {
    height: 48px;
 
}
/*鎶曠エ*/
#post_party_content { min-height: 200px; }
#post_party_map, #post_party_date_input { display: none; }
#post_vote_content { min-height: 150px; }
#post_vote_kind_select { margin-bottom: 15px; padding: 6px; background-color: #dfdfdf; overflow: hidden; }
.post_vote_kind_select_yes, .post_vote_kind_select_no { font-size: 16px; text-align: center; }
.post_vote_kind_select_yes { color: #ffffff; background-color: #2fb0c8; }
.post_vote_kind_select_no { color: #000000; background-color: #ffffff; }
#post_vote_kind_0, #post_vote_kind_1 { width: 50%; padding: 8px 0; }
#post_vote_kind_0 { float: left; }
#post_vote_kind_1 { float: right; }
#post_vote_result { height: 100px; }
#post_vote_option_add { position: relative; overflow: hidden; padding: 6px; }
#post_vote_option_add_button { float: right; }
    #post_vote_option_add_button img { width: 30px; height: 30px; }
#post_vote_option_add_icon_active, #post_vote_option_add_icon { width: 30px; height: 30px; overflow: hidden; }
#post_vote_option_add_icon_active { margin-bottom: -30px; }
#post_vote_option_add_icon { position: relative; background-color: #ffffff; }
    #post_vote_option_add_icon:active { filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }
#post_vote_date_input { display: none; }

/*娲诲姩*/
#dt_join_company, #dt_join_job, #dt_join_trade, #dt_join_note { display: none; }

/*涓炬姤*/
#report_form .form_button { margin-top: 15px; }
#report_form .textarea { height: 200px; }

/*鏂囩珷*/
#post_article_content { min-height: 300px; }

/*鎷涘嫙*/
#post_recruit_content { min-height: 200px; }
#post_recruit_date_input { display: none; }
#dt_join_company, #dt_join_job, #dt_join_trade, #dt_join_note { display: none; }

/*鎷涜仒*/
#post_job_0_content { min-height: 200px; }

/*鐧诲綍*/
.lg_title { font-size: 14px; color: #999999; }
.lg_forget { font-size: 14px; text-align: right; }
#lg_title { margin-bottom: 10px; }
#lg_partner { padding-top: 15px; margin-bottom: 30px; }
#lg_partner_weixin { margin-bottom: 15px; }
#lg_partner button { width: 100%; }
#lg_partner img { width: 20px; height: 20px; }
#lg_partner_other div { width: 49%; }
#login2_form .form_input { margin-bottom: 15px; }
#login2_form .form_input_union { margin-top: -16px; }
#login2_form button { width: 100%; }
#lg_forget { margin-top: 12px; }

.lm_select_yes, .lm_select_no { font-size: 16px; text-align: center; }
.lm_select_yes { color: #ffffff; }
.lm_select_no { color: #000000; }
.lm_qr_tip { font-size: 14px; color: #666666; text-align: center; }
#lm_select { margin: 0 -12px 18px -12px; overflow: hidden; padding: 6px; background-color: #dfdfdf; }
#lm_select_mp, #lm_select_qr { width: 50%; padding: 10px 0; }
#lm_select_mp { float: left; }
#lm_select_qr { float: right; }
#lm_select .lm_select_yes { background-color: #2fb0c8; }
#lm_select .lm_select_no { background-color: #ffffff; }
#lm_mp, #lm_qr { display: none; }
#lm_mp_intro { margin-bottom: 12px; text-align: center; }
#lm_mp_intro_pic, #lm_qr_qr_pic { margin: 50px; width: 60px; height: 60px; }
#lm_mp_form { margin-right: 90px; }
#lm_mp_form_input { position: relative; border: 1px solid #cccccc; background-color: #ffffff; padding: 10px 3px; }
    #lm_mp_form_input input { width: 100%; height: 20px; overflow: hidden; }
#lm_mp_form_button { position: absolute; right: -90px; top: 1px; width: 80px; }
    #lm_mp_form_button button { width: 100%; height: 39px; overflow: hidden; padding: 5px 0; }
#lm_qr_qr { margin-bottom: 18px; text-align: center; }
#lm_qr_tip { margin-bottom: 15px; padding: 10px; background-color: #dddddd; }
#lm_qr_button button { width: 100%; }


/*蹇樿瀵嗙爜*/
#forget_form .form_input { margin-bottom: 15px; }
#forget_form button { width: 100%; }

/*娉ㄥ唽鐢ㄦ埛*/
.register_form .form_input { margin-bottom: 15px; }
.register_form .form_input_union { margin-top: -16px; }
.register_form button { width: 100%; }
.rg_select_yes, .rg_select_no { font-size: 16px; text-align: center; }
.rg_select_yes { color: #ffffff; }
.rg_select_no { color: #000000; }
#rg_select { margin: 0 -12px 18px -12px; overflow: hidden; padding: 6px; background-color: #dfdfdf; }
#rg_select_email, #rg_select_phone { width: 50%; padding: 10px 0; }
#rg_select_email { float: left; }
#rg_select_phone { float: right; }
#rg_select .rg_select_yes { background-color: #2fb0c8; }
#rg_select .rg_select_no { background-color: #ffffff; }
#register_form_code { position: relative; }
#register_form .form_input { margin-bottom: 15px; padding-right: 112px; }
#register_form input { height: 20px; overflow: hidden; }
#register_form button { width: 100%; }
#getCode { position: absolute; right: 5px; top: 5px; width: 90px; }
    #getCode img { width: 90px; height: 25px; margin: 3px 0; }
#register_form_email { display: none; }
#lg_partner { margin-top: 18px; }
    #lg_partner button { width: 100%; }
    #lg_partner img { width: 20px; height: 20px; }
#lg_partner_weixin { margin-bottom: 15px; }
#lg_partner_other div { width: 49%; }


.txt1 {
	background:url(../images/love.png) no-repeat 0% 50%;
	height: 18px;
	line-height: 18px;
	font-size: 16px;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	padding-left: 27px;
	margin-left: 34px;
}
.txt1 a {
	color:#FFF;
	text-decoration: none;
}
.graybg {
	background:#fff;
	border: 1px solid #000000;
	width: 78px;
	height: 78px;
	text-align:center;
}
.graybg2 {
	background:#ecd2d2;
	border: 1px solid #ecd2d2;
	width: 89px;
	height: 89px;
	text-align:center;
}
.graybg3 {
	background:#ffffff;
	width: 89px;
	height: 89px;
	text-align:center;
	border: 1px solid #000000;
}
.txt2 {
	font-size: 14px;
	padding: 3px 0px;
	font-family:Arial, Helvetica, sans-serif;
}
.loadpcbox img {
	width: 38px;
	height: 38px;
	
}
.title1 {
	font-size: 18px;
	padding: 12px 20px;
	font-family: "Microsoft Yahei";
	background-color: #ebedf0;
}
.loadintroinfo {
	margin: 0px 0px;
	padding: 0px 10px;
	background:#FFF;
}
.loadintroinfo li {
	height: 42px;
	line-height: 42px;
	font-size: 15px;
	font-family:Arial, Helvetica, sans-serif;
    padding: 7px 0px;
	color:#595959;
	border-bottom: 1px solid #ebedf0;
}

.loadintroinfo2 {
	margin: 0px 0px;
	padding: 0px 10px;
	background:#FFF;
}
.loadintroinfo2 li {
	font-size: 15px;
	font-family:"Arial Black", Gadget, sans-serif;
    padding: 16px 10px;
	color:#595959;
	border-bottom: 1px solid #ebedf0;
}




.fr {
	float: right;
}
.fl {
	float: left;
}
.bottombtnbox {
	background:#ebedf0;
	padding: 30px 10px;
}
.Bindingpng {
	text-align:center;
}
.Bindingtxt {
	text-align:center;
	font-size: 22px;
	font-family:Arial, Helvetica, sans-serif;
	color:#a4a4a4;
}
.txt3 {
	background:#ebebeb;
	padding: 10px 10px;
	border-bottom: 1px solid #CCC;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	color:#595959;
}
.post_item3 { margin-top: 2px; overflow: hidden;  background-color: #ffffff; margin-top: 15px;}

.salecon {
	padding: 15px 10px;
}
.post_item_title5 { font-size: 16px; line-height: 24px; color: #1f1f1d; font-family:Arial, Helvetica, sans-serif;}
.post_item_title2 { font-size: 16px; line-height: 24px; color: #1f1f1d; font-family:Arial, Helvetica, sans-serif;}
.post_item_note2 { font-size: 15px; color: #666666; margin-top: 9px; font-family: Arial, Helvetica, sans-serif; }
.txt4 {
	font-size: 14px;
	color:#666666;
	font-family:"Arial Black", Gadget, sans-serif;
}
.mycon {
	background:#FFF;
	padding: 15px 10px;
	border-bottom: 1px solid #bebfc1;
}
.myleftcon {
	float: left;
}
.myrightcon {
	float: right;
}
.txt5 {
	background:url(../images/my1.png) no-repeat 0% 50%;
	line-height: 32px;
	font-size: 18px;
	color:#666666;
	font-family:"Arial Black", Gadget, sans-serif;
	padding-left: 38px;
}
.txt6 {
	color:#ff6600;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size: 18px;
	background:url(../images/icon1.png) no-repeat 95% 50%;
	padding-right: 30px;
	line-height: 32px;
}
.txt7 {
	background:url(../images/my2.png) no-repeat 0% 50%;
	line-height: 32px;
	font-size: 18px;
	color:#666666;
	font-family:"Arial Black", Gadget, sans-serif;
	padding-left: 38px;
}
.mainbox {
	background:#ebedf0;
	padding: 15px 0px;
}
.txt8 {
	font-size: 18px;
	color:#666666;
	font-family: "Microsoft Yahei";
	padding: 20px 10px;
}
.nobdbox {
	padding: 20px 10px;
	background:#FFF;
}
.nobdleft {
	float:left;
	background:url(../images/my3.png) no-repeat 0% 50%;
	font-size: 18px;
	color:#666666;
	font-family:"Arial Black", Gadget, sans-serif;
	padding-left: 38px;
	margin-top: 15px;
}
.nobdright {
	float: right;
}

.button_15 { 
    font-size: 20px; color: #ffffff; line-height: 20px; text-align: center; border: 1px solid #666666; background-color: #267cc0; padding: 15px 25px; 
	border: 1px solid #ccc; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}
.button_15:active { background-color: #e8e6e6; }
.topbar_title2 { font-size: 26px; color: #ffffff; line-height: 20px; text-align: center; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap; font-family: "Microsoft Yahei"; }
.topbar_title3 { font-size: 18px; color: #ffffff; line-height: 20px; text-align: center; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap; font-family: "Microsoft Yahei"; }

.txt10 {
	color:#267cc0;
}
.txt10 a {
	color:#267cc0;
	text-decoration: none;
}

input.checkoutProductNumber {
	padding: 0px;
	height: 26px;
	line-height: 26px;
	width: 120px;
	margin: 0px;
	background:#f3f3f3;
	font-size: 14px;
	color:#999;
	padding: 0px 5px;
    margin-left: 20px;
}

select{
    display: block;
	background: #FFF;
	padding:4px 8px;
	border: 0px solid #DDD;
	outline: 0;
	font: normal 12px/100%;
    color: #666;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	
}
textarea {
    display: block;
	background: #FFF;
	padding:4px 8px;
	border: 0px solid #DDD;
	outline: 0;
	font: normal 12px/100%;
    color: #666;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 1px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 1px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 1px;
	width: 210px;
	height: 100px;
	
}
.typeone {

}
.fang {
	border-left: 1px solid #dedede;
	padding-left: 20px;
}
.zkbox {
	background:#ebedf0;
	padding: 10px 10px 0px 10px;
}
.txt11 {
	font-size: 14px;
	color:#333;
}
.zkcon {
	display:block;
	background:url(../images/saleicon.png) no-repeat;
	height: 25px;
	line-height: 25px;
	width: 65px;
	color:#FFF;
	font-size: 12px;
	padding-left: 3px;
	font-family:Arial, Helvetica, sans-serif;
}
.zkcon2 {
	background:url(../images/saleicon.png) no-repeat;
	height: 25px;
	line-height: 25px;
	width: 65px;
	color:#FFF;
	font-size: 12px;
	padding-left: 3px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left: 15px;
}
.phonepc {
	display:block;
	background:url(../images/phonepc.png) no-repeat;
	height: 20px;
	line-height: 20px;
	width: 20px;
	color:#FFF;
	font-size: 12px;
	padding-left: 3px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left: 15px;
}
.loadpc {
	background:#267cc0;
	padding: 4px 9px;
	color:#FFF;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left: 15px;
	text-align:center;
}

.hotnav {
	background:#FFF;
	width: 100%;
}
.hotnav li {	
width: 500px;
}
.hotnav li a {
	float: left;
	line-height: 42px;
	background:#FFF;
}
.txt15 {
	display:block;
}
.loadintroinfo3 {
	background:#FFF;
	padding: 10px 10px;
}
.loadintroinfo4 {
	background:#FFF;
	padding: 0px 10px;
}
.loadintroinfo5 {
	background:#FFF;
	padding: 0px 20px;
}
.loadintroinfo6 {
	background:#FFF;
	padding: 10px 20px;
}
.txt16 {
	font-size: 14px;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	margin-left: 10px;
	line-height:24px;
}
.gzlist {
}
.gzlist li {
	background:url(../images/quan.png) no-repeat 0% 50%;
	padding-left: 12px;
	font-size: 14px;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 10px;
}

input.fieldWithIcon2 {
	background-position: left center;
	background-repeat: no-repeat;
	padding-right: 40px;
	padding-left: 5px;
	font-size: 14px;
	color:#a7a6a6;
	width: 100px;
}

input.fieldWithIcon {
	background-position: left center;
	background-repeat: no-repeat;
	padding-right: 40px;
	padding-left: 30px;
	font-size: 14px;
	color:#595959;
}
.userFieldIcon {
	background-image: url(../images/renpc.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#595959;
	margin-left: 10px;
}
.userFieldIcon2 {
	background-image: url(../images/iphonepc.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#595959;
	margin-left: 10px;
}
.userFieldIcon3 {
	background-image: url(../images/lianpc.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#595959;
	margin-left: 10px;
}
.formFieldWrapper {
	border-bottom: 1px solid #e0e0e0;
	padding: 18px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#595959;
}
.txt18 {
	background:url(../images/whatpc.png) no-repeat 0% 50%;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	padding: 5px 0px;
	padding-left: 20px;
}
.yellowbox {
	background:#ff8c40;
	padding: 0px 20px;
}
.yzm {
	display:block;
	float: right;
	border-left: 1px solid #CCC;
	padding-left: 10px;
	margin-right: 10px;
}
.yzm a {
	display:block;
	background:#267cc0;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 10px;
}
.yzm a.hover {
	display:block;
	background:#105b96;
}
.txt20 {
	display:block;
	float: left;
	width:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.txt20 img {
	text-align:center;
}


.txt57 {
	display:block;
	float: left;
	width:70px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.txt27 {
	display:block;
	float: left;
	width:80px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.txt27 span img {
	text-align:center;
	margin-top: 8px;
}

.txt87 {
	display:block;
	float: left;
	width:108px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
}


.txt31 {
	display:block;
	float: left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.txt31 span img {
	text-align:center;
	margin-top: 8px;
}


.txt21 {
}


input.fieldWithIcon3 {
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-right: 40px;
	padding-left: 30px;
	font-size: 14px;
	
}
.userFieldIcon4 {
	background-image: url(../images/searchbtn.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#595959;
	margin: 10px 20px;
	border: 1px solid #ccc; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	height: 32px;
	line-height: 32px;
	width: 65%;
	color:#8d8c8c;
}


.userFieldIcon5 {
	background-image: url(../images/searchbtn.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#595959;
	margin: 10px 20px;
	border: 1px solid #ccc; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	height: 32px;
	line-height: 32px;
	width: 150px;
	color:#8d8c8c;
}
.userFieldIcon6 {
	background-image: url(../images/searchbtn.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#595959;
	margin: 10px 20px;
	border: 1px solid #ccc; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	height: 32px;
	line-height: 32px;
	width: 112px;
	color:#8d8c8c;
}

.style10 {
	border: 1px solid #ccc; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	width: 200px;
}
.style11 {
	border: 1px solid #ccc; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	width: 120px;
}

.adminbox {
	background:#FFF;
	padding: 10px 20px;
}
.txt22 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#595959;
}
.txt23 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#A5A5A5;
}
.txt24 {
	padding-left: 20px;
}
.txt25 {
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
}
.bordernone {
	border-bottom: none;
}
.txt30 {
	color:#595959;
}
.txt28 {
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#595959;
}

.stylearea1 {
	height: 50px;
}
.txt32 {
	background:#267cc0;
	color:#FFF;
	padding: 5px 12px;
	margin-right: 15px;
}
.txt33 {
	background:#b3b5b9;
	color:#FFF;
	padding: 5px 12px;
	margin-right: 15px;
}

.txt36 {
	width: 140px;
	text-align:center;
}
.txt37 {
	width: 100px;
}
.scon {
	height: 60px;
	overflow-y: scroll;
	width: 80%;
	background:#FFF;
	border: 1px solid #e7e7e7;
	margin: 10px 20px;
	padding: 10px;
	font-size: 14px;
	color:#595959;
	font-family:Arial, Helvetica, sans-serif;
}

.fieldWithIcon5 {
	border: 1px solid #ccc; 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	line-height: 26px;
	width: 180px;
	font-size: 14px;
	color:#595959;
	padding: 0px 8px;
}

.topbarleft {
	float: left;
}
.topbarright {
	float: left;
	margin-left: 30px;
}
.txt50 {
	font-size: 18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-family: "Microsoft Yahei";
}
.txt51 {
	font-size: 20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-family: "Microsoft Yahei";
}
.qkbox {
	width: 100px;
}
.tipbox {
	background:#FFF;
}
.tipbox a {
	display:block;
	float: left;
	width: 33%;
	text-align:center;
	font-size: 19px;
	color:#595959;
	font-family: "Microsoft Yahei";
	text-decoration:none;
	line-height: 36px;
	padding: 10px 0px;
	background:#FFF;
	border-right: 1px solid #d2d3d4;
}
.tipbox a:hover {
	display:block;
	height: 36px;
	float: left;
	width: 33%;
	text-align:center;
	font-size: 19px;
	color:#595959;
	font-family: "Microsoft Yahei";
	text-decoration:none;
	line-height: 36px;
	border-bottom: 3px solid #0e6eb9;
}
a#tiped {
	display:block;
	height: 36px;
	float: left;
	width: 33%;
	text-align:center;
	font-size: 19px;
	color:#595959;
	font-family: "Microsoft Yahei";
	text-decoration:none;
	line-height: 36px;
	border-bottom: 3px solid #0e6eb9;
}


.tipbox2 a {
	display:block;
	float: left;
	width: 50%;
	text-align:center;
	font-size: 19px;
	color:#595959;
	font-family: "Microsoft Yahei";
	text-decoration:none;
	line-height: 36px;
	padding: 10px 0px;
	background:#FFF;
}
.tipbox2 a:hover {
	display:block;
	height: 36px;
	float: left;
	width: 50%;
	text-align:center;
	font-size: 19px;
	color:#595959;
	font-family: "Microsoft Yahei";
	text-decoration:none;
	line-height: 36px;
	border-bottom: 3px solid #0e6eb9;
}
a#tiped2 {
	display:block;
	height: 36px;
	float: left;
	width: 50%;
	text-align:center;
	font-size: 19px;
	color:#595959;
	font-family: "Microsoft Yahei";
	text-decoration:none;
	line-height: 36px;
	border-bottom: 3px solid #0e6eb9;
}




.tipbox3 a {
	display:block;
	float: left;
	width: 50%;
	text-align:center;
	font-size: 19px;
	color:#3192b8;
	font-family: "Microsoft Yahei";
	text-decoration:none;
	line-height: 36px;
	padding: 10px 0px;
	background:#FFF;
}
.tipbox3 a:hover {
	display:block;
	height: 36px;
	float: left;
	width: 50%;
	text-align:center;
	font-size: 19px;
	color:#fe2007;
	font-family: "Microsoft Yahei";
	text-decoration:none;
	line-height: 36px;

}
a#tiped3 {
	display:block;
	height: 36px;
	float: left;
	width: 50%;
	text-align:center;
	font-size: 19px;
	color:#fe2007;
	font-family: "Microsoft Yahei";
	text-decoration:none;
	line-height: 36px;
	
}

.txt100 {
	margin-top: 13px;
	margin-right: 8px;
}
.txt98 {
	display:block;
	width: 80%;
	overflow-y:scroll;
	height: 60px;
	border: 1px solid #c8c9ca;
	padding: 5px;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#939393;
}


.tanbox {
	position:absolute;
	z-index:99999999999;
	top: 20%;
	left: 10%;
	width: 80%;
	height: 180px;
	background:#fff;
	border: 1px solid #CCC;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 1px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 1px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.tancon {
	padding: 20px;
}
.txt90 {
	font-size: 20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#e95412;
	text-align:center;
	border-bottom: 1px solid #0e6eb9;
	padding-bottom: 11px;
}
.txt91 {
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#595959;
	line-height: 26px;
	
}
.knowbtn {
	width: 100px;
	margin: 0px auto;
	margin-top: 10px;
	background:#0e6eb9;
	color:#FFF;
	text-align:center;
	padding: 6px 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.txt110 {
	display:block;
	float: left;
	width:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.andleft {
	float: left;
}
.andright {
	float: right;

}
.andleft p {
	padding: 26px 0px;
}
.pline {
	border-bottom: 1px solid #CCC;
}
.prightline {
		border-left: 1px solid #CCC;
		margin-top: 52px;
		padding: 10px 0px;
		padding-left: 20px;
}
.homeadd {
	padding: 20px 0px;
}
.hdright {
	float: right;
}
.ppleft {
	width: 210px;
}
.width200 {
	width: 200px;
}


.abouttxt {
	font-family:Arial, Helvetica, sans-serif;
	color:#595959;
	font-size: 14px;
	line-height: 24px;
}
.aboutlist li {
	font-family:Arial, Helvetica, sans-serif;
	color:#595959;
	font-size: 14px;
	border-bottom: 1px solid #eeeeee;
	line-height: 42px;
}
#aboutbor {
	border-bottom: none;
}
.weimabox {
	background:#FFF;
	padding: 20px 20px;
}
.fenx {
	font-family:Arial, Helvetica, sans-serif;
	color:#595959;
	font-size: 18px;
}
.erwei {
	text-align:center;
	margin-top: 30px;
}
.webtxt {
	font-family:Arial, Helvetica, sans-serif;
	color:#595959;
	font-size: 16px;
	text-align:center;
}
.aboutlogobg {
	background:#ebedf0;
	text-align:center;
	padding: 30px 0px;
}
.tongchtxt {
	font-family:Arial, Helvetica, sans-serif;
	color:#afafaf;
	font-size: 18px;
}
.zkcon5 {
	background:url(../images/saleicon.png) no-repeat;
	height: 25px;
	line-height: 25px;
	width: 65px;
	color:#FFF;
	font-size: 12px;
	padding-left: 3px;
	font-family:Arial, Helvetica, sans-serif;
}



